.container{
   width:100%;
      .mainIntro{
         .flex(space-evenly, center);
         
         flex-wrap:wrap;
         background-color: #65999934;
            
            .firstPartContainer{
               display: flex;
               justify-content: space-evenly;
               align-items: center;
               flex-wrap: wrap;
               position: absolute;
               padding-left: 21%;
            }
            img{
               .flex(space-evenly, center);
               flex-wrap:wrap;
               width: 25%;
            }

            .arrow{
               font-size: 15rem;
               //text-align: center;
               padding-top: 8%;
               
            }

            .arrowTwo{
               font-size: 7rem;
               text-align: right;
               /* margin-top: -2%; */
               margin-right: 30%;
               margin-bottom: 0%;
               padding-bottom: -1%;
               width: 90%;

            }


            .tagline{
               text-align:center;
               padding-bottom: 2%;
               padding-top: 7%;
               padding-right: 2%;
               

            }
            .paragraph{
               text-align: center;
               margin-left: 14%;
               margin-right: 3%;
               padding-top: 4%;
               padding-right: 2%;
            }
            .tagTwo{

            }

            .tagThree{
               text-align: center;
               padding-left: 3%;
               padding-top: 6%;
            }


      }
   .partTwo{
      .flex(space-evenly, center);
      background-color: #f5f5f5;
      flex-wrap: wrap;
      padding-top:5%;

      .why{
         .flex(space-evenly, center);
         flex-direction: row;
         flex-wrap: wrap;

      }

      ul{
         font-size: 1.8rem;
         margin-left: 53%;
      }

      .bandaid{
         display: flex;
         font-size: 8rem;
         color: @orangeish;
         width: 23%;
         padding-right: 18%;
      }

      h2{
         width: 32%;
         padding-right: 0%;
         text-decoration: underline;
      }

      .howItWorks{
         .flex(space-evenly,center);
         padding-top:10%;

         .workContainer{
            width: 50%;
            padding-left: 5%;
            
         }

         .tasks{
            font-size: 8rem;
            padding-left: 14%;
            color: @darker-blue;
            
         }
      }

      .yourRole{
         .flex(space-evenly, center);
         padding-top: 10%;
         padding-bottom: 2%;

         .giftIcon{
            font-size: 8rem;
            width: 100%;
            padding-left: 5%;
            color: @lighter-blue;
         }

         .rollContainer{
            width: 86%;
         }

      }



   }

      
  
}

h2 i{
   font-size: 20rem;
   width: 100%;
   opacity: 100%;
}


