.flex(@justify, @align){
    display:flex;
    justify-content: @justify;
    align-items: @align;
    
}


.custom-btn(@bgcolor, @width, @fontcolor){
    display: flex;
    justify-content: space-evenly;
    width: @width;
    background-color: @bgcolor;
    
    
    align-items: center;
    color: @fontcolor;
    
    
    

    &:hover {
        //background-color:@nav-font;
        //color: @fontcolor;
        -webkit-box-shadow: inset 0px 0px 5px #0000008e;
        -moz-box-shadow: inset 0px 0px 5px #0000008e;
        box-shadow: inset 0px 0px 5px #0000008e;
    } 
}