.signupForm {
    .flex(space-evenly,center);
    text-align: center;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: @shuttle-gray;
    color: @nav-font;

    form{
        font-size: 2rem;
        border-top: 1px dashed black;
        border-bottom: 1px dashed black;
        padding: 2%;

        .button{
            .custom-btn(silver, 10%, black);
            margin-top:10%;
        }
    
    }
}